* {
    box-sizing: border-box;
}

body {
    background: rgb(20,20,20);
    font-size: 18px;
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.hidden {
    display: none;
}

.helpScreen {
    display: none;
    position: fixed;

    color: #eee;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}

div.show {
    display: block;
}

.box {
    margin: 20vh auto 0;
    width: 700px;
    background: rgb(20,20,20);
    padding: 20px
}

h1 {
    font-size: 2em;
    border-bottom: 2px solid #eee;
}
h2 {
    font-size: 1.5em;
}

h1,
h2,
h3 {
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
p:not(:first-child),
pre:not(:first-child) {
    margin: 0.5em 0 0;
}

pre.monospace {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2em;
    margin: 1em 0 0;
}